@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap');

:root {
    --primary-blue: #2170B8;
    --primary-cream: #F1F7ED;
    --light-green: #E3F1EB;
    --dark-green: #91C7B1;
    --dark-gray: #403D39;
    --dark-black: #0C0F0A;
    --main-background: #FFFCF9;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Akshar', sans-serif;
}

body {
    background-color: var(--main-background);
    overflow-x: hidden;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 18px;
}

.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--main-background);
    z-index: 1;
}

.navbar a {
    color: var(--dark-gray);
}

.navbar img {
    margin-right: auto;
    width: 200px;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
}

.navbar a ~ a {
    margin-left: 20px;
}

.landing {
    width: 95%;
    margin: 20px auto 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background-image: url(assets/imgs/landing-bkg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.landing .heading {
    color: var(--primary-cream);
    margin: auto;
}

.landing img {
    width: 35%;
    margin-right: 7vw;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 130px;
    height: 130px;
    animation-delay: 0s;
    animation-duration: 23s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10%;
    }

    100%{
        transform: translateY(-700px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.custom-shape-divider-top-1650634503 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 27px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1650634503 .shape-fill {
    fill: #FFFCF9;
}

.about {
    width: 100%;
    background-color: var(--dark-gray);
}

.about .content {
    display: flex;
    align-items: center;
    padding: 50px 0;
    box-sizing: border-box;
}

.about img {
    width: 30%;
    margin: auto 7% auto 5%;
}

.about .text-container {
    color: var(--primary-cream);
    width: 40%;
    margin: auto auto auto 0;
}

.custom-shape-divider-top-1650632682 {
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider-top-1650632682 svg {
    position: relative;
    display: block;
    width: calc(192% + 1.3px);
    height: 49px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1650632682 .shape-fill {
    fill: #403D39;
}

.development {
    background: var(--dark-green);
}

.development .content {
    color: var(--dark-gray);
    display: flex;
    align-items: center;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.development .illustration {
    width: 50%;
    margin: auto 5%;
    position: relative;
}

.development .illustration .moving-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.development .illustration img {
    width: 100%;
    position: relative;
}